@import "~antd/dist/antd.less";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

@primary-blue: #00396b;

// Global properties

.app-css {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  width: 100%;
}

.button:hover {
  cursor: pointer;
}

.ant-timeline-item,
.ant-timeline-label {
  font-size: 18px;
}
.ant-timeline-item-tail {
  border-left: 2px solid #666666;
}

.ant-timeline-item-head {
  background-color: #f0f2f5;
}

.ant-timeline-item-content {
  margin: 0px 0px 0px 32px;
}

h1.ant-typography {
  color: @primary-blue;
}

// Element properties

.header-div {
  box-shadow: 0px 3px 5px rgba(64, 64, 64, 0.3);
  -webkit-box-shadow: 0px 3px 5px rgba(64, 64, 64, 0.3);
  -moz-box-shadow: 0px 3px 5px rgba(64, 64, 64, 0.3);
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.header-bloc-div {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.header-element {
  margin: 0px 16px;
  font-size: 26px;
}

.header-element-mobile {
  margin: 0px 16px;
  font-size: 24px;
}

.header-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #ebebeb;
  color: @primary-blue;
  border-radius: 5px;
  padding: 0px 10px;
  margin: 5px 0px;
  height: calc(100% - 10px);
}

.header-button-mobile {
  font-size: 24px;
}

.ant-layout-footer {
  padding: 16px 50px
}

.footer-div {
  display: flex;
  justify-content: center;
  background-color: @primary-blue;
  color: white;
  font-size: 16px;
}

.main-content {
  min-height: calc(100vh - 133px);
  padding: 20px calc(100vw / 6);
}

.main-content-mobile {
  min-height: calc(100vh - 133px);
  padding: 20px 20px;
}

.intro-div-code {
  font-size: 52px;
  font-family: Consolas;
  text-align: center;
  color: @primary-blue;
}

.intro-div-text {
  text-align: justify;
  font-size: 22px;
}

.posts-div {
  width: 100%;
}

.posts-raw-div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.post-div {
  width: calc((100vw / 6) + (100vw / 32));
  background-color: white;
  border-radius: 10px;
}

.post-div-mobile {
  width: calc((100vw / 4) + (100vw / 32));
  background-color: white;
  border-radius: 10px;
}

.post-img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  margin-bottom: 10px;
}

.post-title-div {
  color: @primary-blue;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0px 10px;
}

.post-text-div {
  color: black;
  padding: 0px 10px 10px 10px;
  text-align: justify;
}

.key-word-div {
  padding: 0px 10px 10px 10px;
  text-align: center;
}

.key-word-div li {
  list-style: none;
  display: inline-block;
  background: @primary-blue;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.markdown-div {
  color: black;
  text-align: justify;
}

.markdown-div img {
  max-width: 100%;
  display: block;
  margin: auto;
  border: solid 1px #a18b8b;
}

.markdown-div blockquote {
  border-left: solid 5px @primary-blue;
  padding-left: 10px;
  font-style: italic;
}

.markdown-div h1 {
  color: @primary-blue;
  font-size: 46px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.markdown-div h2 {
  font-size: 32px;
  font-weight: bold;
  color: @primary-blue;
}

.markdown-div h3 {
  font-size: 26px;
  font-weight: bold;
}

.markdown-div h6 {
  text-align: right;
  margin-bottom: 20px;
}

.timeline-content {
  text-align: justify;
  background-color: white;
  padding: 10px 16px;
  box-shadow: 6px 6px 9px #aaa;
  border-radius: 10px 10px 10px 10px;
  max-width: 96%;
}

.ant-timeline-item:nth-child(2n) .timeline-content {
  margin-right: 20px;
}

.timeline-title {
  font-weight: bold;
  font-size: 24px;
  color: @primary-blue;
}

.timeline-date {
  color: #00b3ff;
}
